#chat-status-bar {
    width: 100%;
    padding-bottom: 10px;
    z-index: 5;
}

#chat-top-module {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: var(--font-color-smoothmydog);
    margin-top: 35px;
    z-index: 4;
}

.chat-background {
    background-color: var(--font-color-smoothmydog);
}

.main-chat {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.6s linear;
}

.chats-timestamp {
    color: black;
    background-color: var(--font-color-mydog);
    padding: 12px;
    border-radius: 18px;
    font-size: 15px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: var(--img-size-basic);
    height: var(--img-size-basic);
    border-radius: 50%;
    margin-right: 10px;
}

.message__author {
    opacity: 0.8;
    font-size: 15px;
    margin-bottom: 8px;
    display: block;
}

.message__bubble {
    background-color: white;
    padding: 10px 13px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 5px;
    font-size: 18px;
}

.message__time {
    opacity: 0.8;
    font-size: 13px;
}

.message__info {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    background-color: var(--font-color-mydog);
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    margin-right: 0px;
    margin-left: 5px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--font-color-smoothmydog);
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    box-sizing: border-box;
    align-items: center;
}

.reply input {
    padding: 7px 0px 7px 15px;
    width: 100%;
    height: 20px;
    border: var(--border-smooth);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply__column:first-child i {
    background-color: white;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -14px;
    top: 3px;
}

.reply__column:last-child > i {
    right: 25px;
    top: 11px;
}

.reply__column button {
    background-color: var(--font-color-mydog);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply__column button i {
    opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input {
    width: 93vw;
    transform: translateX(-12.5%);
    outline: none;
}
