.top-module {
    margin-top: 29.5px;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-xlarge);
    background-color: white;
    position: fixed;
    top: 0px;
    width: 94%;
    z-index: 4;
}

.top-module__column i {
    font-size: var(--font-size-large);
}

.top-module__column i:not(.top-module__column i:last-of-type) {
    margin-right: 10px;
}
